logo{
  height: 100px;
  margin-right: auto;
}
body {
  background-color: rgb(var(--bs-body-bg-rgb));
  color: white;
  font-family: "Segoe UI";
}

.boton {
  background-color: #b30000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.boton:hover,
.boton:focus {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  outline: none;
}
